<!DOCTYPE html>
<html>
	<head>
		<title>Registration Form</title>
		
  		<script src="javascripts/jquery.min.js"></script>
  		<script src="javascripts/bootstrap.min.js"></script>
		<script src="javascripts/angular.min.js"></script>
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-tagsinput.css">
		<script type="text/javascript" src="javascripts/bootstrap-tagsinput.js"></script>
		<link href="stylesheets/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="javascripts/bootstrap-toggle.min.js"></script>
	</head>
	<body ng-app="app">
		
		<div class="container">
			<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#login">Login</a></li>
					<li><a data-toggle="tab" href="#register">Register</a></li>
			</ul>
			<div class="tab-content">
				<div id="login" class="tab-pane active fade in">
					<h3>Login</h3>
						<form class="form-horizontal" ng-controller="loginValidate" name="login" novalidate>
						<div class="control-group" >
							<label class="control-label" for="email"> Email </label>
							<div class="controls">
								<input type="email" class="input-xlarge" id="email" name="email" placeholder="Email" ng-model="email" required/>
								<span style="color:red" ng-show="login.email.$dirty && login.email.$invalid">
								<span ng-show="login.email.$error.required"> Email is required. </span>
								<span ng-show="login.email.$error.email"> Invalid email address. </span>
							</div>
						</div>
						<div class="control-group" >
							<label class="control-label" for="pwd"> Password </label>
							<div class="controls">
								<input type="password" class="input-xlarge" id="pwd" name="pwd" placeholder="Password" ng-model="pwd" required/>
								<span style="color:red" ng-show="login.pwd.$dirty && login.pwd.$invalid">
								<span style="color:red" ng-show="login.pwd.$error.required">Password is required.</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<button type="button" class="btn btn-success" ng-click="chkLogin()"> Login </button>
							</div>
						</div>
						</form>
						<script>
						var app = angular.module('app',[]);
						app.controller('loginValidate',  function ($scope,$http,$window) {
						     
						
						    $scope.chkLogin = function () {
						    	 console.log(this);
						 
						        if (!$scope.email || !$scope.pwd) {
						            return;
						        }
						 
						        var url = 'auth';
						        var data = 'username=' + $scope.email +
						                   '&password=' + $scope.pwd;
						        var config = {
						            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
						        };
						 
						        $http.post(url, data, config).
						            success(function (data) {
						               console.log(data);
						                 if (data[0].isValid) {    
                   								 $window.location.href = '/home';
              								 }
						                else
						                    alert('Login incorrect');
								   }).
						            error(function () {
						                // errors here, including:
						                // invalid_grant_type
						                // invalid username/password
						            });
						    };
						});
					
						</script>
				</div>
				<div id="register" class="tab-pane fade">
					<h3>Registration</h3>
					<form class="form-horizontal" name="frmregister"  ng-controller="registerValidate"  novalidate>
						<div class="control-group">
							<label class="control-lable">  </label>
							<div class="controls">
								<p>
									<input type="checkbox" checked data-toggle="toggle" data-on="Candidate" data-off="Employer" data-width="120" name="usrType" id="usrType" ng-model="usrType">
								</p>
							</div>
							
						</div>
						<div class="control-group" >
							<label class="control-label" for="fname"></label>
							<div class="controls">
								<input type="text" class="input-xlarge" id="fname" name="fname" placeholder="Full Name" ng-model="fname" required/>
								<span style="color:red" ng-show="frmregister.fname.$dirty && frmregister.fname.$invalid" />
								<span style="color:red" ng-show="frmregister.fname.$error.required"> Please enter your full name.</span>
							</div>
						</div>
						<div class="control-group" >
							<label class="control-label" for="email"></label>
							<div class="controls">
								<input type="email" class="input-xlarge" id="email" name="email" placeholder="Email" ng-model="email" required/>
								<span style="color:red" ng-show="frmregister.email.$invalid && frmregister.email.$dirty" >
									<span style="color:red" ng-show="frmregister.email.$error.required"> Please enter your email.</span>
									<span style="color:red" ng-show="frmregister.email.$error.email"> Please enter your email.</span>
							</div>
						</div>
						<div class="control-group" >
							<label class="control-label" for="pwd"></label>
							<div class="controls">
								<input type="password" class="input-xlarge" id="pwd" name="pwd" placeholder="Password" ng-model="pwd" required/>
								<span style="color:red" ng-show="frmregister.pwd.$invalid && frmregister.pwd.$dirty" >
								<span style="color:red" ng-show="frmregister.pwd.$error.required"> Please enter your password.</span>
							</div>
						</div>
						<div class="control-group" >
							<label class="control-label" for="cnf"></label>
							<div class="controls">
								<input type="password" class="input-xlarge" ng-model="cnf" id="cnf" name="cnf" placeholder="Confirm Password" />
								<span ng-show="!frmregister.cnf.$error.required && frmregister.cnf.$error.noMatch && frmregister.pwd.$dirty">Passwords do not match.</span>
								<span style="color:red" ng-show="nomatch">Passwords do not match.</span>
							</div>
						</div>	   
						<div class="control-group" >
							<label class="control-label" >  </label>
							<div class="controls"> 
						<input type="text" value="C#,HTML,big-data,hadoop,css,javascript" data-role="tagsinput" name="skills" id="skills"  ng-model="skills"/>
									<span style="color:red" ng-show="frmregister.skills.$invalid && frmregister.skills.$dirty" />
									<span style="color:red" ng-show="frmregister.email.$error.required"> Please enter your skills.</span>

									
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"></label>
							<div class="controls">
								<button type="Submit" class="btn btn-success" ng-click="create()"> Register </button>
							</div>
						</div>
				    </form>
				    <script>

						
						app.controller('registerValidate', function($scope,$http,$window) {
							console.log($scope.usrType);
							$scope.nomatch=false;
							$scope.skills='C#,HTML,big-data,hadoop,css,javascript';
						    $scope.create = function () {
						    	 console.log(1);


						    	 if($scope.pwd!=$scope.cnf )
						    	 {
						    	 	console.log($scope.pwd+'---'+$scope.cnf)
						    	 	$scope.nomatch=true;
						    	 	return;
						    	 }
								else
									$scope.nomatch=false;

						        if (!$scope.fname || !$scope.email || !$scope.pwd || !$scope.email || !$scope.skills) {
						            return;
						        }
						 		 var data='';
						        var url = 'create';
						        if($('#usrType').prop('checked'))
						        {
						        data= 'usrType=candidate' +
						        		'&fname='+$scope.fname+
						        		'&email='+$scope.email+
						        		'&pwd='+$scope.pwd+
						        		'&skills='+$scope.skills;
						        
						         }
						         else
						         {
						         	data= 'usrType=employer' +
						        		'&fname='+$scope.fname+
						        		'&email='+$scope.email+
						        		'&pwd='+$scope.pwd+
						        		'&skills='+$scope.skills;
						        
						         }
						        var config = {
						            headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
						        };
						 console.log(data);
						        $http.post(url, data, config).
						            success(function (data) {
						               console.log(data);
						                 if (data) {    
                   								 $window.location.href = '/home';
              								 }
						                else
						                    alert(' Error Occourred');
								   }).
						            error(function (err) {
						                // errors here, including:
						                // invalid_grant_type
						                // invalid username/password
						            });



						    };

						});
					</script>
				
			</div>
		</div>
	</body>
</html>